# Node
node_modules/
**/node_modules/

# Build outputs
build/
dist/
.out/
.next/
.turbo/
**/build/
**/dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage
coverage/
*.lcov

# Env files
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Caches
.cache/
.parcel-cache/
.eslintcache
.stylelintcache

# Misc
*.tsbuildinfo
